<div>
    <h1>Login</h1><br>
    <form method="post" action="/api/session/login">
        <input type="text" placeholder="e-mail" name="email"/><br>
        <input type="password" placeholder="password" name="password"/><br>
        <button type="submit">Ingresar</button>
    </form>
</div>
<div>
        <a href="/api/session/github">ฅ/ᐠ. ̫ .ᐟ\ฅ Conectarse con Github ฅ/ᐠ. ̫ .ᐟ\ฅ</a>
        <a href="/newPassword">
            <button>Restablecer Contraseña</button>
        </a>
</div>
